// font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'bebas-neue', sans-serif;

// COLORS
$Off_White: #ECF0F1;
$Light_White: #DADFE1;
$Light_Grey: #757575;
$Black: #1d1d1d;



// WELCOME BLADE STYLING
body {
  .page-container {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);

    // Carousel Fade Function
    .carousel-fade {
      .carousel-inner {
          // Full Page Images At All Sizes - Check scripts.js
          .item {
            transition-property: opacity;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .item,
          .active.left,
          .active.right {
              opacity: 0;
          }
          .active,
          .next.left,
          .prev.right {
              opacity: 1;
          }
          .next,
          .prev,
          .active.left,
          .active.right {
              left: 0;
              transform: translate3d(0, 0, 0);
          }
      }
      .carousel-control {
        position: absolute;
        z-index: 1;
      }
    }

    .welcome-wrapper {
      position: absolute;
      width: 100%;
      .title {
        position: relative;
        z-index: 10;
        h1{
          padding-top: 10%;
          text-align: center;
          text-transform: uppercase;
          font-family: 'bebas-neue', sans-serif;
          font-size: 5em;
          color: $Off_White;
        }
      }
      .sub-headers {
        a, a:visited {
          // width: 100%;
          // height: 100%;
          text-decoration: none;
          decoration: none;
          color: $Light_Grey;
          line-height: 60px;
            .sub-title {
              z-index: 5;
              text-align: center;
              text-transform: uppercase;
              font-family: 'Raleway', sans-serif;
              margin-top: 10px;
              margin-bottom: 10px;
              h3 {
                line-height: 60px;
                height: 60px;
                transition: background-color 0.7s ease;
                border-radius: 1px;
                background-color: $Off_White;
                opacity: 0.9;
                margin: 0;
              &:hover {
              background-color: $Light_Grey;
              }
            }
          }
          &:hover{
            color: $Light_White;
          }
        }
      }
    }
  }
}

#welcome-container{
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  &.ready{
    visibility: visible;
    opacity: 1;
  }
}


//GALLERY VIEW STYLING
 body {
  background-color: $Light_Grey;
  .row {
    #hidden {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
    .gallery-image-container {
      max-width: 360px;
      margin: 0 10px 0 10px;
      position: relative;
      margin-bottom: 5px;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      transition: opacity 0.5s ease-in-out;
      position: relative;
      background-color: $Light_Grey;
      opacity: 0;
      visibility: hidden;
      @media (max-width: 430px){
        max-width: 300px;
      }
      h1 {
        color: $Off_White;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        margin: 0 auto;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.7s ease;
      }
      &.active {
        visibility: visible;
        opacity: 1;
        h1 {
          opacity: 0;
          visibility: hidden;
        }
        &:hover{
          h1{
            position: absolute;
            z-index: 2;
            opacity: 1;
            visibility: visible;
          }
          .hover-shell:after {
            opacity: 0.5;
            background-color: $Black;
            z-index: 1;
          }
        }
      }
      .hover-shell:after {
        top: 0;
        left: 0;
        z-index: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        content: '';
        opacity: 0;
        transition: opacity 0.7s ease;
      }
      a {
        display: inline-block;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
      }
      .gallery-image {
        // height: auto;
        max-width: 100%;
      }
    }
  }
}

// VIDEO PLAYER STYLING
.video-wrapper {
  .expand {
    width: 100vw;
    height: 540px;
    a {
      width: 100%;
      height: 100%;
    }
  }
  iframe {
    width: 100vw;
    height: 400px;
  }
  // iframe.expanded {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 10;
  // }
}

// ABOUT PAGE STYLING
.content-wrapper {
  .about-content {
    .container {
      .row {
        .text-wrapper {
          .about-header {
            font-family: 'bebas-neue', sans-serif;
            color: $Off_White;
            font-size: 60px;
            text-transform: uppercase;
          }
          .about-text {
            font-size: 35px;
            font-family: 'bebas-neue', sans-serif;
            color: white;
          }
        }
        .image-wrapper {
          .gallery-image {
            max-width: 370px;
            height: auto;
            border-width: 2px;
            border-color: white;
            border-style: solid;
          }
        }
      }
    }
  }
}

// GRAPHICS STYLING
body {
 background-color: $Light_Grey;
 .container {
   margin-left: auto;
   margin-right: auto;
   margin-top: 25px;
   .row {
     #g-column-1{
      //  float: none;
      //  margin: 0 auto 20px;
     }
     .graphics-image-container {
       float: none;
       max-width: 900px;
       margin: 0 10px 0 10px;
       position: relative;
       margin-bottom: 5px;
       text-align: center;
       text-transform: uppercase;
       font-family: 'Raleway', sans-serif;
       transition: opacity 0.5s ease-in-out;
       position: relative;
       background-color: $Light_Grey;
       opacity: 0;
       visibility: hidden;
       @media (max-width: 1100px){
         max-width: 800px;
       }
       @media (max-width: 900px){
         max-width: 700px;
       }
       @media (max-width: 770px){
         max-width: 500px;
       }
       @media (max-width: 600px){
         max-width: 335px;
       }
       h1 {
         color: $Off_White;
         position: absolute;
         font-size: 50px;
         top: 50%;
         right: 0;
         left: 0;
         margin: 0 auto;
         transform: translateY(-50%);
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         opacity: 0;
         transition: opacity 0.7s ease;
       }
       &.active {
         visibility: visible;
         opacity: 1;
         h1 {
           opacity: 0;
           visibility: hidden;
         }
         &:hover{
           h1{
             position: absolute;
             z-index: 2;
             opacity: 1;
             visibility: visible;
           }
           .graphics-shell:after {
             opacity: 0.7;
             background-color: $Black;
             z-index: 1;
           }
         }
       }
       .graphics-shell:after {
         top: 0;
         left: 0;
         z-index: 0;
         position: absolute;
         height: 100%;
         width: 100%;
         content: '';
         opacity: 0;
         transition: opacity 0.7s ease;
       }
       a {
         display: inline-block;
         position: absolute;
         z-index: 10;
         width: 100%;
         height: 100%;
       }
       .design {
         // height: auto;
         max-width: 100%;
       }
     }
   }
 }
}

// NAVBAR STYLING
.navbar {
  border: none;
  background-color: $Off_White;
  // border-color: $Off_White;
  border-radius: 0;
  li {
    transition: background-color 0.7s ease;
    &:hover {
      background-color: $Light_Grey;
      a {
        color: $Light_White !important;
      }
    }
  }
}
