// font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans', sans-serif;

// WELCOME BLADE STYLING
body {
  .page-container {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);

    // Carousel Fade Function
    .carousel-fade {
      .carousel-inner {
          // Full Page Images At All Sizes - Check scripts.js
          .item {
            transition-property: opacity;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .item,
          .active.left,
          .active.right {
              opacity: 0;
          }
          .active,
          .next.left,
          .prev.right {
              opacity: 1;
          }
          .next,
          .prev,
          .active.left,
          .active.right {
              left: 0;
              transform: translate3d(0, 0, 0);
          }
      }
      .carousel-control {
        position: absolute;
        z-index: 1;
      }
    }

    .welcome-wrapper {
      position: absolute;
      width: 100%;
      .title {
        position: relative;
        z-index: 10;
        h1{
          padding-top: 10%;
          text-align: center;
          text-transform: uppercase;
          font-family: 'Open Sans', sans-serif;
          font-size: 5em;
          color: #ECF0F1;
        }
      }
      .sub-headers {
        .sub-title {
          z-index: 5;
          text-align: center;
          text-transform: uppercase;
          font-family: 'Raleway', sans-serif;
          margin-top: 10px;
          margin-bottom: 10px;
          h3 {
            transition: background-color 0.7s ease;
            border-radius: 5px;
            background-color: #ECF0F1;
            opacity: 0.9;
            margin: 0;
            a, a:visited {
              text-decoration: none;
              decoration: none;
              color: #757575;
              line-height: 60px;
            }
            &:hover {
              background-color: #757575;
                a {
                  color: #DADFE1;
                }
            }
          }
        }
      }
    }
  }
}


//GALLERY VIEW STYLING
 body {
  background-color: #757575;
  .row {
    #column-1 {

    }
    #column-2 {

    }
    #column-3 {

    }
    .gallery-image-container {
      padding-bottom: 5px;
      .gallery-image {
        height: auto;
        max-width: 100%;
      }
    }
  }
}
