body .page-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.2); }
  body .page-container .carousel-fade .carousel-inner .item {
    transition-property: opacity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  body .page-container .carousel-fade .carousel-inner .item,
  body .page-container .carousel-fade .carousel-inner .active.left,
  body .page-container .carousel-fade .carousel-inner .active.right {
    opacity: 0; }
  body .page-container .carousel-fade .carousel-inner .active,
  body .page-container .carousel-fade .carousel-inner .next.left,
  body .page-container .carousel-fade .carousel-inner .prev.right {
    opacity: 1; }
  body .page-container .carousel-fade .carousel-inner .next,
  body .page-container .carousel-fade .carousel-inner .prev,
  body .page-container .carousel-fade .carousel-inner .active.left,
  body .page-container .carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0); }
  body .page-container .carousel-fade .carousel-control {
    position: absolute;
    z-index: 1; }
  body .page-container .welcome-wrapper {
    position: absolute;
    width: 100%; }
    body .page-container .welcome-wrapper .title {
      position: relative;
      z-index: 10; }
      body .page-container .welcome-wrapper .title h1 {
        padding-top: 10%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'bebas-neue', sans-serif;
        font-size: 5em;
        color: #ECF0F1; }
    body .page-container .welcome-wrapper .sub-headers a, body .page-container .welcome-wrapper .sub-headers a:visited {
      text-decoration: none;
      decoration: none;
      color: #757575;
      line-height: 60px; }
      body .page-container .welcome-wrapper .sub-headers a .sub-title, body .page-container .welcome-wrapper .sub-headers a:visited .sub-title {
        z-index: 5;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        margin-top: 10px;
        margin-bottom: 10px; }
        body .page-container .welcome-wrapper .sub-headers a .sub-title h3, body .page-container .welcome-wrapper .sub-headers a:visited .sub-title h3 {
          line-height: 60px;
          height: 60px;
          transition: background-color 0.7s ease;
          border-radius: 1px;
          background-color: #ECF0F1;
          opacity: 0.9;
          margin: 0; }
          body .page-container .welcome-wrapper .sub-headers a .sub-title h3:hover, body .page-container .welcome-wrapper .sub-headers a:visited .sub-title h3:hover {
            background-color: #757575; }
      body .page-container .welcome-wrapper .sub-headers a:hover, body .page-container .welcome-wrapper .sub-headers a:visited:hover {
        color: #DADFE1; }

#welcome-container {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out; }
  #welcome-container.ready {
    visibility: visible;
    opacity: 1; }

body {
  background-color: #757575; }
  body .row #hidden {
    opacity: 0;
    visibility: hidden;
    display: none; }
  body .row .gallery-image-container {
    max-width: 360px;
    margin: 0 10px 0 10px;
    position: relative;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    background-color: #757575;
    opacity: 0;
    visibility: hidden; }
    @media (max-width: 430px) {
      body .row .gallery-image-container {
        max-width: 300px; } }
    body .row .gallery-image-container h1 {
      color: #ECF0F1;
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      margin: 0 auto;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      opacity: 0;
      transition: opacity 0.7s ease; }
    body .row .gallery-image-container.active {
      visibility: visible;
      opacity: 1; }
      body .row .gallery-image-container.active h1 {
        opacity: 0;
        visibility: hidden; }
      body .row .gallery-image-container.active:hover h1 {
        position: absolute;
        z-index: 2;
        opacity: 1;
        visibility: visible; }
      body .row .gallery-image-container.active:hover .hover-shell:after {
        opacity: 0.5;
        background-color: #1d1d1d;
        z-index: 1; }
    body .row .gallery-image-container .hover-shell:after {
      top: 0;
      left: 0;
      z-index: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      content: '';
      opacity: 0;
      transition: opacity 0.7s ease; }
    body .row .gallery-image-container a {
      display: inline-block;
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%; }
    body .row .gallery-image-container .gallery-image {
      max-width: 100%; }

.video-wrapper .expand {
  width: 100vw;
  height: 540px; }
  .video-wrapper .expand a {
    width: 100%;
    height: 100%; }
.video-wrapper iframe {
  width: 100vw;
  height: 400px; }

.content-wrapper .about-content .container .row .text-wrapper {
  font-size: 100%; }
  @media (max-width: 991px) {
    .content-wrapper .about-content .container .row .text-wrapper {
      font-size: 90%; } }
  @media (max-width: 767px) {
    .content-wrapper .about-content .container .row .text-wrapper {
      font-size: 80%; } }
  @media (max-width: 600px) {
    .content-wrapper .about-content .container .row .text-wrapper {
      font-size: 60%; } }
  @media (max-width: 550px) {
    .content-wrapper .about-content .container .row .text-wrapper {
      font-size: 50%; } }
  .content-wrapper .about-content .container .row .text-wrapper .about-header {
    font-family: 'bebas-neue', sans-serif;
    color: #ECF0F1;
    font-size: 4em;
    text-transform: uppercase; }
  .content-wrapper .about-content .container .row .text-wrapper .about-text {
    font-size: 1.8em;
    font-family: 'bebas-neue', sans-serif;
    color: white; }
.content-wrapper .about-content .container .row .image-wrapper {
  max-width: 370px;
  float: right;
  border-width: 2px;
  border-color: #9a9a9a;
  border-style: solid; }
.content-wrapper .about-content .container .social .instagram {
  height: 100%;
  margin-left: 40px;
  border: 2px solid #9a9a9a;
  background-color: #4a4a4a;
  overflow: hidden; }
  @media (max-width: 700px) {
    .content-wrapper .about-content .container .social .instagram {
      max-width: 205px; } }
  .content-wrapper .about-content .container .social .instagram .header {
    margin-top: 10px; }
    .content-wrapper .about-content .container .social .instagram .header i {
      padding-left: 15px;
      color: #DADFE1; }
    .content-wrapper .about-content .container .social .instagram .header span {
      padding-right: 15px;
      padding-top: 5px;
      color: #DADFE1; }
  .content-wrapper .about-content .container .social .instagram a img {
    height: 300px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 2px solid #9a9a9a;
    border-bottom: 2px solid #9a9a9a; }
    @media (max-width: 700px) {
      .content-wrapper .about-content .container .social .instagram a img {
        width: auto;
        height: 150px; } }
  .content-wrapper .about-content .container .social .instagram .grid-content {
    display: inline-block;
    margin-top: 5px;
    padding-left: 15px; }
    @media (max-width: 700px) {
      .content-wrapper .about-content .container .social .instagram .grid-content {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; } }
    .content-wrapper .about-content .container .social .instagram .grid-content p {
      color: #DADFE1;
      font-family: 'Raleway', sans-serif; }
  .content-wrapper .about-content .container .social .instagram .likes {
    color: #DADFE1;
    display: inline-block;
    float: right;
    margin-top: 5px;
    padding-right: 15px; }
    .content-wrapper .about-content .container .social .instagram .likes .rating {
      display: inline-block; }

body {
  background-color: #757575; }
  body .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; }
    body .container .row .graphics-image-container {
      float: none;
      max-width: 900px;
      margin: 0 10px 0 10px;
      position: relative;
      margin-bottom: 5px;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      transition: opacity 0.5s ease-in-out;
      position: relative;
      background-color: #757575;
      opacity: 0;
      visibility: hidden; }
      @media (max-width: 1100px) {
        body .container .row .graphics-image-container {
          max-width: 800px; } }
      @media (max-width: 900px) {
        body .container .row .graphics-image-container {
          max-width: 700px; } }
      @media (max-width: 770px) {
        body .container .row .graphics-image-container {
          max-width: 500px; } }
      @media (max-width: 600px) {
        body .container .row .graphics-image-container {
          max-width: 335px; } }
      body .container .row .graphics-image-container h1 {
        color: #ECF0F1;
        position: absolute;
        font-size: 50px;
        top: 50%;
        right: 0;
        left: 0;
        margin: 0 auto;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.7s ease; }
      body .container .row .graphics-image-container.active {
        visibility: visible;
        opacity: 1; }
        body .container .row .graphics-image-container.active h1 {
          opacity: 0;
          visibility: hidden; }
        body .container .row .graphics-image-container.active:hover h1 {
          position: absolute;
          z-index: 2;
          opacity: 1;
          visibility: visible; }
        body .container .row .graphics-image-container.active:hover .graphics-shell:after {
          opacity: 0.7;
          background-color: #1d1d1d;
          z-index: 1; }
      body .container .row .graphics-image-container .graphics-shell:after {
        top: 0;
        left: 0;
        z-index: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        content: '';
        opacity: 0;
        transition: opacity 0.7s ease; }
      body .container .row .graphics-image-container a {
        display: inline-block;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%; }
      body .container .row .graphics-image-container .design {
        max-width: 100%; }

.navbar {
  border: none;
  background-color: #ECF0F1;
  border-radius: 0; }
  .navbar li {
    transition: background-color 0.7s ease; }
    .navbar li:hover {
      background-color: #757575; }
      .navbar li:hover a {
        color: #DADFE1 !important; }

/*# sourceMappingURL=output.css.map */
